<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container body-content">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label>Search Address:</label>
        <input type="text" name="searchValue" class="form-control" />
    </div>

    <input type="submit" value="Search Building" />
</form>

</body>
</html>